
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
        <h4>Nhập mã kích hoạt tài khoản</h4>

        <div style="margin-bottom: 10px">
            <input type="text" class="form-control" placeholder="Mã kích hoạt" style="margin-top: 20px" ng-model="activeCode" >
        </div>
        <button class="btn btn-primary" ng-click="activeAccount()">Kích hoạt</button>

        <button class="btn btn-warning" ng-click="resendActiveCode()">Gửi lại mã kích hoạt</button>

    </div>

</div>