<p ng-show="pgpMessage">Nội dung thư là: <b>{{pgpMessage}}</b></p>
<form name="giaiMaPgpMessage">
    <textarea class="form-control" placeholder="Nhập nội dung của thư nhận" style="resize: none; height: 100px; margin-top: 20px" ng-model="encryptMessage.pgpMessage"></textarea>
    <button class="btn btn-primary" style="margin-top: 20px" ngf-select ng-model="privateKeyUser"> {{privateKeyUser ? privateKeyUser.name : 'Tải lên privateKey của bạn'}}</button>
    <button class="btn btn-success" style="margin-top: 20px" ng-click="decryptMessage()" ng-disabled="!(giaiMaPgpMessage.$valid && privateKeyUser )"> Giải mã thư</button>
</form>
