
<div class="row" ng-show="validSign == null" style="margin-top: 20px">
    <form name="checkSignIn">
        <input class="form-control" placeholder="Tìm kiếm người mà bạn cho là gửi thư tới bạn" style="margin-bottom: 20px"
               ng-model="user_selected"
               typeahead="user as user.email for user in users | filter:$viewValue | limitTo:10">
        <textarea class="form-control" placeholder="Nhập nội dung chữ ký" style="resize: none; height: 100px" ng-model="message.text" required></textarea>
        <button class="btn btn-success" style="margin-top: 20px" ng-click="firstStep()" ng-disabled="!(checkSignIn.$valid && user_selected._id)"> Kiểm tra chữ ký</button>
    </form>

</div>



<div class="row" ng-show="validSign"  style="margin-top: 20px">
    <giai-ma-pgp-message></giai-ma-pgp-message>

</div>


