<div class="container" style="margin-top: 40px">
    <input class="form-control" placeholder="Tìm kiếm người nhận" style="margin-bottom: 20px" ng-model="user_selected" typeahead="user as user.email for user in users | filter:$viewValue | limitTo:10">
    <textarea class="form-control" placeholder="Nhập nội dung tin cần gửi" style="resize: none; height: 200px" ng-model="message.text"></textarea>

    <button class="btn btn-success" style="margin-top: 20px" ng-click="sendMessage()"> Gửi</button>
</div>