
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
        <h4>Bạn chưa có Private key và Public Key mời nhập passphrase tại đây.</h4>
        <form name="formPassPhrase">
            <label style="color: red;" ng-if="!formPassPhrase.rePassphrase.$valid">Nhập lại passphrase chưa chính xác!</label>
            <br>
            Mã hóa với số bit: <select class="form-control" ng-model="key.bit" ng-options="bit for bit in bits"></select>
            <input type="password" class="form-control" placeholder="Passphrase" style="margin-top: 20px" ng-model="key.passphrase">
            <input type="password" class="form-control" placeholder="Nhập lại" name="rePassphrase" style="margin-top: 20px" ng-model="rePassphrase" check-same="key.passphrase">
            <button class="btn btn-primary" style="margin-top: 20px" ng-click="createKey()" ng-disabled="(!formPassPhrase.$valid || !rePassphrase ) || loading"> Xác Nhận
                <i class="fa fa-spinner fa-pulse" ng-show="loading"></i>
            </button>
        </form>

    </div>

</div>